more_set_headers 'Server: CloudFront';
add_header X-Cache "Hit from cloudfront" always;
add_header Via "1.1 ${CF_EDGE_ID}.cloudfront.net (CloudFront)" always;
add_header Accept-Ranges "bytes" always;
add_header Vary "Accept-Encoding, Origin" always;
add_header Age "$cache_age" always;
add_header X-Amz-Cf-Id "${AWS_REQ_ID}=" always;
add_header X-Amz-Cf-Pop "${CF_POP}" always;
add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
add_header Alt-Svc 'h3=":443"; ma=86400' always;
